// Colores
$color-primary: #28a745;
$color-primary-hover: #218838;
$color-secondary: #6c757d;
$color-secondary-hover: #5a6268;

$color-error: #dc3545;
$color-border: #ccc;
$color-background: #f7f8fc;

// Botones
$color-button-submit: #fff3b0;
$color-button-submit-hover: #ffe680;
$color-button-reset: #f1f2f6;
$color-button-reset-hover: #dcdde1;
$color-button-reset-text: #2f3640;
$color-button-submit-text: #555555;