/* You can add global styles to this file, and also import other style files */
@use 'styles/variables';
@use 'styles/forms';
@use 'styles/buttons';
@use 'styles/tables';

body {
    background-color: #f9fafb; // o por ejemplo #f5f5f5, si quieres un gris un poquito más notorio
    margin: 40px auto;
    padding: 50px;
    font-family: 'Roboto', sans-serif; // Si deseas también globalizar fuente
    color: #333;
}

.title-view, .title-form{
  padding-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-align: center;
}