
@use 'styles/variables';
@use 'styles/forms';
@use 'styles/buttons';
@use 'styles/tables';
@use 'styles/responsive';

body {
    background-color: #f9fafb;
    margin: 40px auto;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.title-view, .title-form{
  padding-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-align: center;
}